<!doctype html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
	body {
		background: lightgray !important;
	}
	/* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
	</style>
	<title>Не найдено!</title>
</head>

<body>
	<header class="d-flex justify-content-center p-3 bg-dark text-white">
		<ul class="nav nav-pills">
			<button class="btn btn-warning"><a href="{% url 'home' %}" type="button">Главная</a></button>
		</ul>
	</header>
	<div class="container mt-5">
		<h2 align="center">Страница, которую вы ищете, кажется, не существует. Каким-то магическим образом вы попали сюда. Нажмите на кнопку выше, чтобы попасть на главную таким же магическим образом.<br><br></h2>
		<h6 align="center">Пессимист жалуется на ветер. Оптимист надеется на перемену погоды. Реалист ставит паруса.<br>Но сегодня, видимо, никто никуда не поплывёт. Погода не известна...</h6> </div>
	<div class="container">
		<footer class="py-2 my-4">
			<ul class="nav justify-content-center border-bottom pb-3 mb-3"> </ul>
			<p class="text-center text-muted">only1avetrill // Rocknox Interactive 2022</p>
		</footer>
	</div>
</body>

</html>